.stroke {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
}

.fill {
  fill: black;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: 0.5;
}

.land {
  fill: #8bd0d6;
  stroke:  #8bd0d6;
  stroke-width: .5px;
  fill-opacity: 0.3;

}

.boundary {
  fill: none;
  stroke: #8bd0d6;
  stroke-width: 0.5px;

}